<style>
#layer1{border:0px solid green;position:absolute; left:500px; top:200px;width:100;height:100px; z-index:99999;}
</style>

<div id="layer1" style="display:none;"><%= image_tag("/images/template/loading.gif", :width => '100') %></div>


<script language="javascript">
function folder_view() {
	var t = document.getElementById('folder');
	
	if (t.style.display == "none") {
		t.style.display = "block";			
	}else{
		t.style.display = "none";					
	}

}


function show_progress() {
	var width = 100;
	var height = 100;
	
	var left = (screen.width - width)/2;
 	var top = (screen.height - height)/2;
	
	document.getElementById("layer1").style.left = left;
	document.getElementById("layer1").style.top = top;
	
	document.getElementById("layer1").style.display = "block";		

}

function hide_progress() {
	document.getElementById("layer1").style.display = "none";		
}
</script>
<% if params[:ext] != nil; ext = params[:ext] else; ext = "" end
   if params[:folder] != nil; folder = params[:folder] else; folder = "" end
   if params[:page] != nil; page = params[:page] else; page = "" end
   if params[:search] != nil; search = params[:search] else; search = "" end
%>

<%= stylesheet_link_tag '/css/paginate.css' %>

	<div id="admincontents_wrapper">
		<h2>Book List</h2>
		<p2>마이 PDF에서 가져온 파일들을 하나로 묶어 책을 만듭니다.<br></p2>
		<br>
	</div>

	<table class="clipart_table">
	    <thead class="clipart_thead">
	        <tr>
	            <td class="clipart_thead" width="400px">My Books 리스트</td>
	            <td class="clipart_thead" width="400px" align="right"><a href="Javascript:folder_view();"><%= image_tag("/images/folder/folder_manage.jpg", :align => 'absmiddle') %></a></td>
	        </tr>
			<tr>
				<td colspan="2">
					<%= render :partial => "/mybooks/folder" %>
				</td>
			</tr>	
	
	    </thead>
	</table>
	<div>
	<img src="/images/mytemplates/line.jpg">
	</div>
	
<div id="wrapper_bg">

	<div id="main_section">
		<!-- 사이드바  ==============================================================================-->
		<div class="box">
			<div class="left_section_mybook">
				<div id="mainNav_section">
				<%= render :partial => "book_folder", :object => @mybooks %>		
				</div>
			</div>
		</div>
		<!-- 사이드바  ==============================================================================-->		

		<!-- 본문영역 =================================================================================-->
			<div id="right_float">
				<div class="box">
					<div class="right_section_mybook">	
						<!-- <right 추가 태그>	 -->
						<div id="content_section">
							<%= render :partial => "book_pdf", :object => @mybookpdfs %>
						</div>
					</div>
				</div>
			</div>	
		<!-- 본문영역 =================================================================================-->
	</div>
		

	</div>
</div>




