<link href="/css/paginate.css" media="screen" rel="stylesheet" type="text/css" />

<%
	if params[:userid] != nil
		userid = params[:userid]
		user = User.get(userid.to_i)
	end
 %>
<div id="feature_wrapper">
		<p1>사용들자들이 선택한 템플릿 관리 페이지 입니다.</p1><br>
		<%if params[:userid] != nil %>
			<p2><%= user.userid + "("+user.name+") 고객님의 템플릿입니다." if user.name != nil%><p2>
		<%end %>
		<% if ! flash[:notice].nil? %>
			<br>
			<span class="error_message_small"><%= flash[:notice].to_s %></span>
		<% end %>		
<br><br>

	</div>
	
	<% form_tag :action => :deleteSelection, :method => 'post' do %>			
	
	
	<table class="board_table">
	    <thead class="board_thead">
	        <tr>
	            <th class="board_thead" width="40px"><center>번호</center></th>
	            <td class="board_thead" width="120px"><center>썸네일</center></td>
				<td class="board_thead" width="150px"><center>템플릿명</center></td>
	            <td class="board_thead" width="150px"><center>카테고리/서브카테고리</center></td>
	            <td class="board_thead" width="65px"><center>등록일</center></td>	
				<td class="board_thead" width="80px"><center>소유자</center></td>
				<td class="board_thead" width="30px"><center>삭제</center></td>				
	        </tr>
	    </thead>
	 
	    <tbody class="board_tbody">
			<% puts_message @total_count.to_s %>
			<% 	if params[:page].to_i == 0 or params[:page].to_i == 1
					@temp_page = 0
				else
					@temp_page = params[:page].to_i - 1
				end
				@page_num = @total_count - (6 * @temp_page) %>
				

			<% @mytemplates.each do |mytemplate| %>

			<% temp_image_path = mytemplate.thumb_url  if mytemplate.thumb_url%>			
			
	        <tr class="table_b","board_tbody">
	            <th class="board_tbody" width="40px"><%= @page_num %></th>
	            <td class="board_tbody" width="120px"><center><a href="/admin/mytemplates/<%= mytemplate.id.to_s %>?search=<%= params[:search] %>&userid=<%= params[:userid] %>&page=<%= params[:page] %>"><%= "<img src='" + temp_image_path + "'>" if mytemplate.thumb_url %></a></center></td>
				<td class="board_tbody" width="150px"><center><a href="/admin/mytemplates/<%= mytemplate.id.to_s %>?search=<%= params[:search] %>&userid=<%= params[:userid] %>&page=<%= params[:page] %>"><%= mytemplate.name %></a></center></td>
				<td class="board_tbody" width="150px"><center><%= mytemplate.category%>/<%= mytemplate.subcategory if mytemplate.subcategory != nil %></center></td>
	            <td class="board_tbody" width="65px"><center><%= mytemplate.created_at.strftime('%Y-%m-%d') %></center></td>
	            <td class="board_tbody" width="80px"><center><%= User.get(mytemplate.user_id).userid %><br>(<%= User.get(mytemplate.user_id).name %>)</center></td>
				<td class="board_tbody" width="30px"><center><input type="checkbox" name="chk[<%= mytemplate.id %>]"></center></td>
	        </tr>
	        <% @page_num -= 1
			end %>
	        
	    </tbody>
	</table>
	   

	<div id="line_bottom1"></div>
	<br>

		<!-- dm-pager Pagination -->
		<table width="730" >
			<tr>
				<td width="230">&nbsp;</td>
				<td width="350" style="align:center">
					<div class="pager">
					<%if params[:userid] != nil  %>
						<%=Mytemplate.all(:user_id => params[:userid].to_i).search2(params[:search], params[:page]).pager.to_html "/admin/mytemplates?userid=#{params[:userid]}&search=#{params[:search]}" %>					
					<%else %>
						<%=Mytemplate.search2(params[:search], params[:page]).pager.to_html "/admin/mytemplates?search=#{params[:search]}" %>					
					<%end %>
					</div>
				</td>
				<td width="150" align="right">
						<%= image_submit_tag('/images/board/delete.jpg', { :onclick => 'return confirm(\'정말 삭제하시겠습니까?\');' }) %>				
				</td>
			</tr>
			<% end %>
			<tr height="10">
				<td align="center" colspan="3">
						<% form_tag request.path + "?page=#{params[:page]}", :method => 'get' do %>								
					    <%= text_field_tag :search, params[:search] %><%= image_submit_tag("/images/board/search.jpg", :align => "absmiddle") %>	
						<% end %>
				</td>
			</tr>
					
		</table>
		












