<div id="feature_wrapper">
	<h2>회원 로그인</h2>
		<p1>	웹탑프린트샵 회원 로그인 페이지입니다.
		</p1>
<br><br>
	</div>
<!-- <copy> -->
	<div id="line_bottom1"></div>
	
		<!-- <템플릿 정보창 한줄 반복 구간입니다. -->
			<table>
				<tr>
					<td>
						<!-- <템플릿 정보 반복 구간입니다.> -->
						<table class="register_table">
							<tr>
							<td class="register_td" width="160"><img src="images/register/check.jpg">아이디</td>
							<td class="register_td" colspan="4" width="570"><input class="field_1" type="text" value="" name="name"/></td>
							</tr>
							<tr>
							<td class="register_td" width="160"><img src="images/register/check.jpg">비밀번호</td>
							<td class="register_td" colspan="4" width="570"><input class="field_1" type="text" value="" name="name"/></td>
							</tr>

						
						</table>
						<!-- <템플릿 정보 반복 구간입니다.> -->
					</td>
				</tr>
			</table>
		<!-- <템플릿 정보창 한줄 반복 구간입니다. -->

	
	<div id="line_bottom1"></div>
	<br>			

	
		<div id="feature_wrapper1">
				<a href="register_2.html"><img src="images/login/login.jpg"></a>
			</div>




<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :userid %><br />
    <%= f.text_field :userid %>
  </p>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>