<div id="wrapper_bg">
	<div id="top_section">
		<!-- 로고 =================================================================================-->
		<%= render :partial => "/shared/logo" %>	
		<!-- 로고 =================================================================================-->

		<!-- 로그인 및 서치바 =================================================================================-->
		<div id="login_search_section">
			<div id="login_section" class="register">
				<%= render :partial => "/shared/login" %>
			</div>
		</div>
		<!-- 로그인 및 서치바 =================================================================================-->		

		<!-- 메뉴 =================================================================================-->
		<div id="menu_section">
			<%= render :partial => "/shared/menu", :object => @menu%>
		</div>
		<!-- 메뉴 =================================================================================-->
	</div>


	<div id="main_section">
		<!-- 사이드바  ==============================================================================-->
		<div class="box">
			<div class="left_section">
				<div id="mainNav_section" style="padding-left: 20px">
					<div style="padding-left:15px">
					</div>
					
					<br>
					<p>
					<a href="http://www.apple.com/kr/safari/download/" target="new"><%= image_tag '/images/home/safari_download.jpg', :border=>'0' %></a>						
					<a href="http://www.google.com/chrome?platform=win&hl=ko" target="new"><%= image_tag '/images/home/crom_download.jpg', :border=>'0' %></a><br>
					</p>
				</div>
			</div>
		</div>
		<!-- 사이드바  ==============================================================================-->		

		<!-- 본문영역 =================================================================================-->
		<div id="right_float">
				<div class="box">
					<div class="right_section">	
						<!-- <right 추가 태그>	 -->
						<div id="content_section">
							<%= render :partial => "test"%>
						</div>
					</div>
				</div>
			</div>	
		<!-- 본문영역 =================================================================================-->
	</div>
		
		<!-- 풋터  ==============================================================================-->		
		<div id="footer_section">
			<%= render :partial => "/shared/footer" %>
		</div>
		<!-- 풋터  ==============================================================================-->			

</div>	


