<style>
#layer1{border:0px solid green;position:absolute; left:500px; top:200px;width:100;height:100px; z-index:999999}
</style>

<div id="layer1" style="display:none"><%= image_tag("/images/template/loading.gif", :width => '100') %></div>


<%= javascript_include_tag :defaults %>	
<%= javascript_include_tag "basic_tools" %>	


<script language="javascript">
function folder_view() {
	var t = document.getElementById('folder');
	
	if (t.style.display == "none") {
		t.style.display = "block";			
	}else{
		t.style.display = "none";					
	}

}

function show_progress() {
	var width = 100;
	var height = 100;
	
	var left = (screen.width - width)/2;
 	var top = (screen.height - height)/2;
	
	document.getElementById("layer1").style.left = left;
	document.getElementById("layer1").style.top = top;
	
	document.getElementById("layer1").style.display = "block";		

}

function hide_progress() {
	document.getElementById("layer1").style.display = "none";		
}

</script>
<div id="admin_wrapper">
	<h2>마이템플릿 수정</h2>
</div>
<table class="clipart_table">
    <thead class="clipart_thead">
        <tr>
            <td class="clipart_thead" width="800px">
				 자신이 업로드한 템플릿의 기본내용을 수정합니다.
			</td>
        </tr>
    </thead>
</table>
<div><img src="/images/mytemplates/line.jpg"></div>


	<span class="error_message"><%= if !flash[:notice].nil?; flash[:notice] end%></span>				
	<% form_for @mytemplate, :url => {:action => "update"} do |f| %>
		<input type="hidden" name="search" value="<%= params[:search] %>">
		<input type="hidden" name="cate" value="<%= params[:cate] %>">
				
		<table class="adminlogin_table">
			<tr height="35">
				<td width="80"><p2>폴더선택</p2></td>
				<td width="200">
					<span id="folder_select">
					<select name="mytemplate[folder]">
						<%  if @tempfolders != nil 
							@tempfolders.each do |s| %>
								<option value="<%= s.name %>" <%= "selected" if @mytemplate.folder == s.name %>><%= s.name %></option>				
							<%end
							end %>
					</select></span>
				<font color="white" style="font-size:12px"><a href="Javascript:folder_view();"><%= image_tag("/images/folder/folder_manage.jpg", :align => 'absmiddle') %></a></font></td>
				
			</tr>

			<tr>
				<td colspan="2">
					<%= render :partial => "/mytemplates/folder" %>
				</td>
			</tr>
						
			<tr height="40">
				<td width="80"><p2>템플릿명</p2></td>
				<td width="200"><%= f.text_field :name , :value => @mytemplate.name %></td>
			</tr>
			<tr height="40">
				<td width="80"><p2>썸네일</p2></td>
				<td width="200"><%= image_tag @mytemplate.thumb_url %></td>
			</tr>			

			<tr>
				<td width="80"><p2>메모</p2></td>
				<td width="200"><%= f.text_area :description,:rows => '5', :value => @mytemplate.description  %></td>
			</tr>
			
		</table>
		<div id="line_bottom2"></div>		
		<table class="adminlogin_table">
			<tr>
				<td width="200" align="left">
					<% if params[:cate] != nil; cate = params[:cate] else; cate = "" end
					   if params[:folder] != nil; folder = params[:folder] else; folder = "" end
					   if params[:page] != nil; page = params[:page] else; page = "" end%>
					<%= link_to image_tag("/images/board/list.jpg", :border=>0), mytemplates_path + "?folder="+folder+"&cate="+cate+"&page=" + page %>				
				</td>
				
			<td width="190" align="right">
				<%= image_submit_tag("/images/mytemplates/upload.jpg") %>
			</td>
			</tr>
		</table>		
	<% end %>
		</div>
		</div>
	</div>








