<h1>Listing categories</h1>

<table>
<tr>
	<td colspan="5">		
		<div id="line_top"></div>
	</td></tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.priority %></td>	
    <td><%= category.name %></td>
    <td><%= link_to '보기', admin_category_path(category.id.to_s) %></td>
    <td><%= link_to '수정', edit_admin_category_path(category.id.to_s) %></td>
    <td><%= link_to '삭제', admin_category_path(category.id.to_s), :confirm => "정말 삭제하시겠습니까?\n메인분류를 삭제하시면 서브분류들도 자동 삭제처리됩니다!", :method => :delete %></td>
  </tr>

<!-- <% @subcategories = category.subcategories.all(:order => [ :priority.asc ])  %> -->
<!-- changed code for Strategic Eager Loading -->
  <% @categories.subcategories.each do |subcategory| 
	if category.id == subcategory.category_id
  %>
	  <tr>
	    <td style="padding-left: 10px"><!-- <%= subcategory.priority %> --></td>	
	    <td>- <%= subcategory.name %></td>
	    <td>&nbsp;</td>
	    <td><%= link_to '수정', edit_admin_category_path(subcategory.id.to_s) %></td>
	    <td><%= link_to '삭제', '/admin/categories/destroy_sub/'+subcategory.id.to_s,  :confirm => '정말 삭제하시겠습니까?',:method => :delete %></td>  	

	
	  </tr>
  <%end
end  %>

	<tr>
		<td colspan="5">		
			<div id="line_top"></div>
		</td></tr>
	</tr>
<% end %>
</table>

<br />

<%= link_to 'New category', new_category_path %>