<%
category = @category %>
<script>
var html_str = "<li id='cate_<%= category.id.to_s %>' class='main-category-list'>" +
				"<h4 id='cate_name_<%= category.id.to_s %>'><%= category.name %></h4>" +
				"<p class='main-category-action'><a id='cate-edit_<%= category.id.to_s %>' class='edit'>수정</a><a id='cate-del_<%= category.id.to_s %>' class='delete'>삭제</a></p>"+
				"<ul id='sortables_<%= category.id.to_s %>'>"+
				"</ul>"+
				"<fieldset class='sub-write-form'>"+ 
					"<legend>서브 카테고리 추가</legend>"+
					"<label for='subcategory-write_<%= category.id.to_s %>'>카테고리명</label>"+
					"<input type='text' name='subcategory_name' id='subcategory-write_<%= category.id.to_s %>' class='textfield'  placeholder='서브 카테고리명 입력'/>"+
					"<input id='add_subcategory_<%= category.id.to_s %>' class='submit' type='button' value='추가'/>"+
				"</fieldset>"+
				"</li>";

$('#sortables').prepend(html_str);

$('#main-category-write').val("");

$('#add_subcategory_<%= category.id.to_s %>').click(function() {
	if ($('#subcategory-write_<%= category.id.to_s %>').val() == ""){
		alert("카테고리명을 입력하세요~");
	}else{
		$.ajax({
			data:'category_id=<%= category.id.to_s %>&subcategory_name='+ $('#subcategory-write_<%= category.id.to_s %>').val(), 
			dataType:'script', 
			type:'post', 
			url:'/admin/categories/add_subcategory'
		});	
	}
});
				
</script>