<html>
<head>
<title>Web Top Print Shop == Admin ==</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/css/admin.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="/css/admin_main.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="/css/admin_style.css" rel="stylesheet" type="text/css" />
<script src="/js/other_libs/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>		

</head>
<body>
	<div id="admincontents_wrapper">
		<!-- <top 메뉴입니다.> -->
	<div id="admin">
		<div id="admin_top">
				<div id="logoimg">
					<img src="/images/admin/admin_logo.jpg" alt="logo" />
					<div id= "line_bottom6"></div>	
				</div>

			<div id="admin_login">

				<div id="login_section" class="register">
					<%= render :partial => "admin/shared/login" %>			
				</div>
				<div id= "line_bottom7"></div>						
			</div>

				<div id="admin_menu">
					<div id="top_bar">
						<div id="nav_container">
							<%= render :partial => "admin/shared/top_menu" %>								
						</div>
					</div>
					<div id="top_bar">
						<div id="nav_container">
							<%= render :partial => "admin/categories/sub_menu" %>									
						</div>
					</div>
				</div>
			</div>
		<div id="admin_section">			
				<div class="box">
						<div id="admin_contents">
							<div id="admincontents_wrapper">
								<%= render :partial => "/admin/categories/#{@board}_#{@section}" %>
							</div>
						</div>
					</div>
				</div>

			<div id="footer_section">
				<%= render :partial => "/shared/footer" %>						
			</div>
		</div>
		</div>	
</body>
</html>




