<h1>New notice</h1>
<font color="white">

<% form_for(:notice, :url => admin_notices_path) do |f| %>	

  <%= f.error_messages %>
  <p>
    <%= f.label "공지여부" %><%= f.check_box :is_notice %>
  </p>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_notices_path %>
</font>