<div id="feature_wrapper">
		<p1>웹탑프린트샵 공지사항입니다.</p1>
<br><br>

	</div>
<!-- <copy> -->
	<table class="board_table">
	    <thead class="board_thead">
	        <tr>
	            <th class="board_thead_view" width="620px"><%= @notice.title %></th>
	            <td class="board_thead" width="110px"><%= @notice.created_at.strftime('%Y-%m-%d') %></td>

	        </tr>
	    </thead>
	 
	    <tbody class="board_tbody">
	        <tr>
	            <td colspan="2" class="table_c" width="730px">
					<div class="notice_contents">
					<%= simple_format(@notice.content) %></div>
				</td>
				
	            

	        </tr>
	       
	    </tbody>
	</table>
	<div id="line_bottom1"></div>
			
	<table width="732">
		<tr>
			<td colspan="3" height="15"></tr>
		<tr>
			<td width="470">&nbsp;</td>
			<td width="262" align="right">
				<a href="/admin/notices?search=<%=params[:search]%>&page=<%=params[:page]%>"><img src="/images/board/list.jpg"></a>
				<%= link_to image_tag("/images/board/delete.jpg", :border=>0), admin_notice_path, :confirm => '정말 삭제하시겠습니까?', :method => :delete %>				
			</td>

			</tr>
	</table>