<h1>New myimage</h1>

<% form_for @myimage,:url => admin_myimages_path, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
 <p>
    <%= f.label :'이미지 업로드' %><br />
    <%= f.file_field :image_file %>
  </p>
  <p>
    <%= f.submit '업로드' %>
  </p>
<% end %>

<a href="Javascript:history.back(-1);">목록으로 돌아가기</a>